@model EntityLayer.Concrete.About

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hakkımda Düzenleme Paneli</h4>
            @using (Html.BeginForm("Index", "About", FormMethod.Post))
            {
                @Html.HiddenFor(x=> x.AboutId)
                <div class="form-group">
                    <label>Başlık</label>
                    @Html.TextBoxFor(x => x.Title, new {@class="form-control", @required="required"})
                </div>
                <div class="form-group">
                    <label>Yaş</label>
                    @Html.TextBoxFor(x => x.Age, new {@class="form-control", @required="required"})
                </div>
                <div class="form-group">
                    <label>Telefon</label>
                    @Html.TextBoxFor(x => x.Phone, new {@class="form-control", @required="required"})
                </div>
                <div class="form-group">
                    <label>Görsel Yolu</label>
                    @Html.TextBoxFor(x => x.ImageURL, new {@class="form-control", @required="required"})
                </div>
                <div class="form-group">
                    <label>Mail</label>
                    @Html.TextBoxFor(x => x.Mail, new {@class="form-control", @required="required"})
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    @Html.TextAreaFor(x => x.Description,6,2, new {@class="form-control", @required="required"})
                </div>
                <div class="form-group">
                    <label>Adres</label>
                    @Html.TextAreaFor(x => x.Address,6,2, new {@class="form-control", @required="required"})
                </div>
                <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                <a href="/adminpanel/index" class="btn btn-dark">İptal</a>
            }
        </div>
    </div>
</div>